.editor {
	border: solid 2px;
	border-radius: .4rem;
}

#buttons {
	display: flex;
	justify-content: center;
	margin: 1rem auto;
	>* {
		color: rgba(255, 255, 255, 0.8);
		font-size: 2rem;
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		margin: 1rem;
		border: solid 1px #ccc;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		transition: .4s;
		&:hover {
			border-color: #aaa;
		}
	}
}

#jqjs-button {
	background-color: #f7df1e;
}

#jsjq-button {
	background-color: #78cff5;
}
